name: azure/setup-kubectl
on:
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  generate-jobs:
    name: Generate Jobs
    runs-on: ubuntu-latest
   
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: step-security/setup-kubectl@fa3574e17195eaed56b1e9d9095c58d0aee24f03 # v4.0.1
      - run: sleep 300
        
           
